
.dcenter{
    text-align: center;
}
body{
    background-color: rgb(116, 96, 30);
}

.mouseon{
    opacity: 0.95;
}
.mouseon:hover {
    opacity: 1;
}
body, html {
    height: 1000px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("pav2.jpeg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 65vw;
    /* bottom: -150%; */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
    @media (max-width: 768px) { 
      .bg-text {
        top: 220%;
      } 
  }
  .navbar-custom {
    background-color: rgb(133, 36, 36);
}
#pav5{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}